# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Binaries
./ghost

# Code coverage profiles and other test artifacts
*.out
coverage
coverage.*
*.coverprofile
profile.cov
coverage/

# Go workspace file
go.work
go.work.sum

# env file
.env

# IDEs and editors
.vscode/

# LLMs
.claude/
